<!-- locataire.component.html -->

<section>
  <h1>Locataire in {{ "Localisation" }}</h1>
  <p>Appartements mis en ligne récemment : {{ locationNumber }}</p>
  <p>Leaflet search control.</p>

  <button (click)="createNewAppartementRedirection()">
    Créer une nouvelle annonce
  </button>

  <button routerLink="/map">
    <mat-icon>map</mat-icon>
    Map
  </button>

  <div class="locataire-wrapper">
    <div class="wrapper--new-appartements">
      <div routerLink="/locataire/{(locataire.id)}" *ngFor="let appartements of getAppartementsArray" class="new-items">
        <mat-icon class="favorite-icon">favorite_border</mat-icon>
        <p>Titre : {{ appartements.title }}</p>
        <p>Description : {{ appartements.description }}</p>
        <p>Prix : {{ appartements.price }}</p>
      </div>
    </div>
  </div>

  <p *ngIf="getAppartementsArray.length === 0">Pas d'appartement</p>
</section>