<div class="container">
  <div class="card">
    <form>
      <h1>Not register ?</h1>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Enter your name</mat-label>
          <input
            class="form-control"
            matInput
            required
            [(ngModel)]="userName"
            [ngModelOptions]="{ standalone: true }"
            id="name"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input
            class="form-control"
            matInput
            required
            [(ngModel)]="email"
            [ngModelOptions]="{ standalone: true }"
            id="email"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input
            class="form-control"
            matInput
            required
            [(ngModel)]="password"
            [type]="hide ? 'password' : 'text'"
            [ngModelOptions]="{ standalone: true }"
            id="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
    <button
      type="button"
      class="btn btn-primary"
      (click)="save()"
      mat-raised-button
    >
      S'inscrire
    </button>
  </div>
  <div class="frame">
    <div class="separator">Ou</div>

    <button class="custom-btn home-login--btn" mat-button>
      <mat-icon class="svgIcons"> phone</mat-icon>
      Login with phone
    </button>

    <button class="custom-btn google-button" mat-button>
      <embed class="svgIcons" src="assets\icons\google.svg" />
      Continue with Google
    </button>

    <button class="custom-btn facebook-button" mat-button>
      <embed class="svgIcons facebook-icon" src="assets\icons\facebook.svg" />
      Continue with Facebook
    </button>
  </div>
</div>
