<div class="container">
  <div class="card">
    <h1>Welcome Back ! </h1>
    <p>Please, enter your details</p>
    <form>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" required [(ngModel)]="email"
            [ngModelOptions]="{ standalone: true }" class="form-control" id="email">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input id="password" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password"
            [ngModelOptions]="{ standalone: true }" class="form-control" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

      </div>
    </form>
  </div>
  <p>Don't have an account yet? <a routerLink="/register">Sign up</a>
  </p>
  <button type="submit" class="btn btn-primary" (click)="Login()">
    Connexion
  </button>

