h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
}

.mainPage-wrapper {
    display: flex;
    border: 2px solid red;
    justify-content: space-evenly;
}


.text {
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    width: 100%;
}

.mainPage-image {
    border: 2px solid green;
    display: flex;
}


.input-icons {
    position: relative;
}

.input-icons i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.input-field {
    text-align: center;
    border: 1px solid #000;
    border-radius: 0.3em;
    width: 450px;
    padding: 20px 20px;
    /* Adjust the padding to make room for the icon */
    box-sizing: border-box;
}


.youCantSeeMe {
    border: 2px solid red;
    width: 250px;
    display: none;
}


.categorys-wrapper {
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

/* .chambre {
    border: 2px solid red;
}

.appartement {
    border: 2px solid green;
}

.colocataire {
    border: 2px solid orange;
}

.locataire {
    border: 2px solid orangered;
} */

.chambre:hover,
.appartement:hover,
.colocataire:hover,
.locataire:hover {
    border: 2px solid #000;
}

.chambre,
.appartement,
.colocataire,
.locataire {
    border-radius: 1em;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 234, 234);

}

.categorys-wrapper i {
    font-size: 32px;
    color: grey;
}


.categorys-wrapper h2 {
    font-size: 28px;
    margin-top: 25px;
}