<div class="mainPage-wrapper">
    <div class="text">

        @if (!selectedCategoryTitle || !selectedCategoryParagraphe ) {
        <h1>De quoi avez-vous besoin aujourd'hui ? </h1>
        }

        <h1>{{selectedCategoryTitle}}</h1>
        <p>{{selectedCategoryParagraphe}}</p>

        <form class="inline">
            <div class="input-icons">
                <input class="input-field" type="text" placeholder="Paris">
                <i class="fa-solid fa-arrow-right" (click)="openDialog()"></i>
            </div>
        </form>

        @if (isClicked) {
        <div class="categorys-wrapper">
            <div class="chambre" (click)="navigateToBedroomPage()">
                <i class="fa-solid fa-bed"></i>
                <h2>Chambre</h2>
            </div>
            <div class="appartement" (click)="navigateToLocatairePage()">
                <i class="fa-solid fa-house"></i>
                <h2>Appartement </h2>
            </div>
            <div class="colocataire" (click)="navigateToRoommatePage()">
                <i class="fa-solid fa-person"></i>
                <h2>Colocataire </h2>
            </div>
            <div class="locataire" (click)="navigateToNoLocatairePage()">
                <i class="fa-solid fa-face-smile-wink"></i>
                <h2>Locataire</h2>
            </div>
        </div>
        }
    </div>

    <div class="mainPage-image">
        <img src="assets\imgs\mainpage\mainpage.jpg">
    </div>
</div>

<!-- RECUPERATION DE DONNEE : 
SI LE INPUT EST VIDE, LE PLACEHOLDER EST SELECTIONNE PAR DEFAUT. 
DONC SI ON VALIDE LE INPUT VIDE, ON EST REDIRIGE VERS LA CATEGORIE CORRESPONDANTE. 
LE COMPOSANT SELECTIONNE AFFICHERA UN MESSAGE DYNAMIQUE 
-> SI IL N'Y A PAS D'OFFRE DISPONIBLE, UN MESSAGE EN CONSEQUENCE S'AFFICHE 
AUSSI, INTEGRER LA MAP -->