<div class="container-btn">
    <div class="container-wrapper">
        <img class="homeHouse" src="assets\imgs\homepage\home2.jpg" alt="">
        <h1>Des logements qui racontent des histoires, trouvez le votre. </h1>
    </div>
    <div class="frame">
        <button class="custom-btn home-login--btn">
            <mat-icon class="svgIcons"> phone</mat-icon>
            Login with phone</button>
        <div class="separator">Or</div>
        <button class="custom-btn google-button">
            <embed class="svgIcons" src="assets\icons\google.svg" />
            Continue with Google
        </button>
        <button class="custom-btn facebook-button">
            <embed class="svgIcons facebook-icon" src="assets\icons\facebook.svg" />
            Continue with Google
        </button>
        <button class="custom-btn home-login--btn" (click)="redirectToMainPage()">
            Continuer en tant que visiteur
        </button>
    </div>