<div class="menu">

  <div class="items-container">
    <mat-icon routerLink="/main" title="Home"> home</mat-icon>
  </div>

  <div class="items-container">
    <mat-icon routerLink="" title="Messages"> message</mat-icon>
  </div>

  <div class="items-container">
    <mat-icon routerLink="/locataire" title="Discover"> search</mat-icon>
  </div>

  <div class="items-container">
    <mat-icon routerLink="" title="Favorites"> favorite</mat-icon>
  </div>

  <div class="items-container">
    <mat-icon routerLink="" title="Settings"> settings</mat-icon>
  </div>
</div>