<app-favoritebookmark></app-favoritebookmark>

<mat-toolbar>
  <div class="user-account" (click)="sidenav.toggle()">
    <p>User account</p>
    <i class="fa-regular fa-user"> </i>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    style="border: 2px solid rgb(234, 0, 255)"
    #sidenav="matSidenav"
    class="mat-elevation-z8"
  >
    <mat-icon
      class="close-btn"
      (click)="sidenav.toggle()"
      *ngIf="sidenav.opened"
    >
      close
    </mat-icon>

    <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <ul (click)="sidenav.close()">
      <li>
        <span mat-button class="menu-button" routerLink="locataire"
          >Rechercher</span
        >
      </li>
      <li>
        <mat-icon class="favorite-icon">favorite_border</mat-icon>
        <span mat-icon class="favorite-icon" routerLink="favorites"
          >Favoris</span
        >
      </li>
      <li>
        <span mat-button class="menu-button" routerLink="locataire"
          >Rechercher</span
        >
      </li>
      <li>
        <span mat-button class="menu-button" routerLink="locataire"
          >Rechercher</span
        >
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content style="border: 12px solid black">
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- https://zoaibkhan.com/blog/create-a-responsive-sidebar-menu-with-angular-material/ -->
