<div class="container-btn">
  <div class="container-wrapper">
    <img class="randomHouseImg" src="assets\imgs\homepage\home2.jpg" alt="" />
    <h1>Des logements qui racontent des histoires, trouvez la votre.</h1>
  </div>

  <h1>Our Main Focus :</h1>
  <div class="mainPage-wrapper">
    <div class="buy">
      <i class="fa-solid fa-bed"></i>
      <h2>Acheter une maison</h2>
    </div>
    <div class="rent">
      <i class="fa-solid fa-house"></i>
      <h2>Louer une maison</h2>
    </div>
    <div class="sell">
      <i class="fa-solid fa-person"></i>
      <h2>Vendre un bien</h2>
    </div>
  </div>
</div>
<!-- Faire pour les colocataires ultérieurement -->
