<div class="main-container">
  <div class="container-wrapper">
    <div class="column text-content">
      <h1>Des logements qui racontent des histoires trouvez la votre.</h1>
      <p>Découvrez, vendez, achetez</p>
      <div class="flex">
        <p>
          <b>+1200</b> <br />
          Produits premium
        </p>
        <p>
          <b>+15</b> <br />
          Années d'expérience
        </p>
        <p>
          <b>+146</b> <br />
          Award winning
        </p>
      </div>
    </div>
    <img class="randomHouseImg" src="assets\imgs\homepage\home.jpg" alt="" />
  </div>

  <div class="inputs-container">
    <form>
      <div class="column">
        <p>Localisation</p>
        <mat-form-field class="input-width">
          <input matInput required class="form-control" id="to complete" />
        </mat-form-field>
      </div>
      <div class="column">
        <p>Type</p>
        <mat-form-field class="input-width">
          <input matInput required class="form-control" id="to complete" />
        </mat-form-field>
      </div>
      <div class="column">
        <p>Budget</p>
        <mat-form-field class="input-width">
          <input matInput required class="form-control" id="to complete" />
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Search now</button>

    </form>
  </div>
</div>
